*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.main > *{
    position: absolute;
}

.background{
    width: 100%;
    height: 100vh;
    background-color: black;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: white;
    font-family: "Arial";
}

.download button{
    border: none;
    background-color: white;
    margin-top: 100px;
    padding: 1em 2em;
    border-radius: 3em;
}

/* Background SVG / layering */
.background{
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
    overflow: hidden;
    background-color: #020202; /* matches SVG base */
}

.bg-svg{
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
}

.content{
    z-index: 1;
    position: relative;
}

@media (prefers-reduced-motion: reduce){
    .pulses, .ripples{ display: none; }
}