* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.h1 {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.content {
    z-index: 1;
    position: relative;
    width: 100%;
    color: #ddd;
    font-family: "Arial";
    padding: 1rem 7rem;
}

.first-screen{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 4rem;
}

.buttons button {
    width: 100%;
    border: none;
    background-color: #1e1f20;
    color: #eee;
    padding: 1rem 2rem;
    border-radius: 3rem;
}

.buttons button:hover {
    color: #222;
    background-color: #aea;
}

.buttons button:active {
    background-color: #ded;
}

.about{
    backdrop-filter: blur(120px);
}

/* Background SVG / layering */

@media screen and (max-width: 638px) {
    .content{
        padding: 1rem;
    }
}

@media screen and (max-width: 450px) {
    .buttons {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}